<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Conprov, or 'Conversational Improv' is a podacst that is just that - an improvised conversation between Sean and a relatively talented guest.</p>
                <p>While folks can opt for improvised conversations in necessary daily interactions, it's a crazy dog eating world out there. So, sit back, relax and enjoy the show. Fido will thank you.</p>
                <p>Enjoy it? Great. Please tell a friend or send me a <a href="contact.html">note</a>. I'd love to hear from you and a million of your future friends.</p>
            </div>
        </div>
    </div>

    <hr>

</body>

</html>
