    <!DOCTYPE html>
    <html lang="en">

    <body>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Radio Conprov</h1>
                            <hr class="small">
                            <span class="subheading">Welcome, amigos and enemigos.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                        <h2 class="post-title">
                            Eating Stupid, with Tyler Wilson</font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 10: March 28, 2016)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="https://kamkar.podbean.com/mf/play/en5wec/Conprov_-_2016_03_28_Tyler_Wilson_.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Confident you'll become a demi-god by eating lots of stupid creatures, thereby inheriting a great, collective intelligence? Well, this episode might just change your opinion on this buzzworthy topic.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Race Your Passion, with <a href="http://www.filmillusions.com/"> <font color="#848482">Tommy Haake</font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 9: January 27, 2016)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/pvywgq/Conprov-2016_01_27TommyHaake.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Support the writer, painter, musician, designer, or engineer within you by heading to your nearest racetrack/parking lot. Don't forget your airbags.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Shooting the Shit, with <a href="https://www.facebook.com/2KSlamShow/"> <font color="#848482">Lauren Vally</font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 8: December 9, 2015)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/n367zi/Conprov-2015_12_09LaurenVally.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Grab your galoshes as we spend most of the time in the gutter.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            #Amenities, with <a href="http://www.ryan-mckenzie.com/"> <font color="#848482">Ryan McKenzie</font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 7: June 22, 2015)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/z3745j/Conprov-2015_06_22RyanMcKenzie.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Ryan and I share how we'll spend eternity together, as trees.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            High Fashion, with <a href="https://twitter.com/bscottkell"> <font color="#848482"> Brandon Scott Keller </font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 6: November 22, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/di5cay/Conprov-2014_11_22BrandonScottKeller.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Brandon is a model of high fashion, specifically, the brave bottom end.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Remembering San Francisco, with <a href="http://www.claireslattery.com/"> <font color="#848482"> Claire Slattery </font></a>
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 5: September 20, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/2ec5uq/Conprov-2014_09_20ClaireSlattery.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Come with us on a journey from the fog to the haze.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Morose and Comatose, with Christian Mello
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 4: June 15, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/6h2qpz/Conprov-2014_06_15ChristianMello.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">An uplifting gem that'll keep giving the more you listen to it.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Cold Stuff, with Paul Constantine
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 3: May 10, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/dguefs/Conprov-2014_05_10PaulConstantine.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Another mega hit! Listen to Paul and I discuss all things cold including Sweden, freezers, and shoulders.</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Coming to America, with RG Rosero
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 2: March 23, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/fvn8zd/Conprov-2014_03_23RGRosero.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">Another in the pocket! Listen as RG and I discuss how his well-to-do Guamanian upbringing was broken by our fine american urban high schooling (a modern reverse-<a href="http://en.wikipedia.org/wiki/The_Fresh_Prince_of_Bel-Air">FPOBA</a> story).</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Homeschooling, with Isaac Borgo
                        </h2>
                        <h3 class="post-subtitle">
                            (Episode 1: February 8, 2014)
                        </h3>
                    </a>
                    <audio controls>
                    <source src="http://kamkar.podbean.com/mf/play/hfq8dp/Conprov-2014_02_08IsaacBorgo.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <p class="post-meta">The maiden voyage! Listen as Isaac and I discuss homeschooling, twins, and mouth-breathing as god intended, as we attempt to figure out what this podcast is all about.</p>
                </div>
                <hr>
                <!-- Pager -->
<!--                 <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

</body>

</html>
